{%extends "base.html" %}

{% block mainbody %}
{% load my_tags %}
{% load static %}
    <h1>{{ hello|truncatewords:"1" }}</h1>
    <ul>
    {% for athlete in list reversed%}
        <li>{{ athlete }}</li>
    {% endfor %}
    </ul>
    <ol>
    {% for i,j in views_dict.items %}
        <li> {{ i }}---{{ j }}</li>
    {% endfor %}
    </ol>
    <h1>{{ list|length }}</h1>
    <div class="box">
        {{ 11|my_filter:22 }} {% my_html "zzz" "xxx" %}
    </div>
    <img src="{% static "images/pic.jpg" %}" >
{% endblock %}